# Section files
*.data
*.rodata
*.bss
*.text

# Project files
.project
.cproject
.settings/

# Linux Files
*.swp
*.swo

# Build Files
*.o
*.img
*.vdi
fs/
kernel/idt.S
*.sym

# binaries for building (obtain from developer website)
tools/build
