# Section files
*.data
*.rodata
*.bss
*.text

# Project files
.project
.cproject
.settings/

# Linux Files
*.swp
*.swo
*.fs

# Build Files
*.o
*.img
*.vdi
fs/
tmp/
kernel/idt.S
*.sym
*.sconsign.dblite
*.pyc
build/

# binaries for building (obtain from developer website)
tools/build

# Exported log files
logs/
save/

# Some system skeleton files
sysskel/tests
sysskel/testsuite

# cscope/debugging files
*.out

