# Section files
*.data
*.rodata
*.bss
*.text

# Project files
.project
.cproject
.settings/

# Linux Files
*.swp
*.swo
*.fs

# Build Files
*.o
*.img
*.vdi
fs/
tmp/
kernel/idt.S
*.sym

# binaries for building (obtain from developer website)
tools/build

# Exported log files
logs/
save/
